*{
    margin: 0;padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Antonio', sans-serif;
    background: rgb(223, 149, 120);
}
ul{
    width: 50%;
    height: 100px;
    border: 5px solid rgb(145, 35, 117);
    float: left;
    margin: 250px 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: url(bc2.jpg);
    border-radius: 10px/20px ;
}
ul>li{
    list-style-type: none;
    width: 30%;
    height: 80px;
    border: 5px solid rgb(145,35, 117);
    line-height: 75PX;
    font-size: 30PX;
    font-weight: 700;
    text-align: center;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
ul>li::before,
ul>li::after{
    display: block;
    width: 100%;
    height: 100%;
    transition: 1s;
    
}
ul>li::before{
    content: attr(data-txt);
    background: rgb(177, 102, 40);
}
ul>li::after{
    content: attr(data-txt);
    background: rgb(201, 88, 44);
}
ul>li:hover::before{
    margin-top: -70px;
}